<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/theskiesmore/" target="_blank">@theskiesmore</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/theskiesmore/" target="_blank">@theskiesmore</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/theskiesmore" target="_blank">linkedin.com/in/theskiesmore</a></p>
<!--<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://ellekasai.com/" target="_blank">ellekasai.com</a></p>-->
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:lastsky@gmail.com" target="_blank">lastsky@gmail.com</a></p>